
02.Özellik Mühendisliği/02.Eksik Değerler/datasets/application_train.csv
02.Özellik Mühendisliği/03.Encoding/datasets/application_train.csv
02.Özellik Mühendisliği/04.Feature Extraction/datasets/application_train.csv
03.Makine Öğrenmesi/09.Dengesiz Veri Seti/creditcard.csv
